<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.fn.model.mapper.AdminAccountMapper">
    <select id="selectAll" resultType="com.bit.fn.model.vo.AdminAccountVo">
    	 SELECT 
    	 	* 
    	 from 
    	 	adminaccount
   	</select>
   	<select id="selectOne" resultType="com.bit.fn.model.vo.AdminAccountVo">
    	 SELECT 
    	 	* 
    	 from 
    	 	adminaccount
    	 where
    		id=#{value}
   	</select>
   	<update id="updateInfo">
   		UPDATE 
   			adminaccount 
   		SET 
   			nickName=#{nickName} 
   		WHERE 
   			id=#{id}
   	</update>
   	<delete id="deleteOne">
   		DELETE
   		FROM
   		 adminaccount
   		WHERE
   			id=#{value}
   	</delete>
   	
</mapper>

