<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.fn.model.mapper.CompanyInfoMapper">
    <select id="selectAll" resultType="com.bit.fn.model.vo.CompanyInfoVo">
    	 SELECT * from companyInfo
   	</select>
   	
   	<insert id="addNewCompany" parameterType="map">
   		insert into companyInfo (comCode, officeNum, comName, ceo, manager, comPhone, contractDate, rentStartDate, rentFinishDate)
   		values (#{comCode}, #{officeNum}, #{comName}, #{ceo}, #{manager}, #{comPhone}, #{contractDateInput}, #{moveInDateInput}, #{moveOutDateInput})
   	</insert>
   	
   	<select id="selectAllCompany" resultType="com.bit.fn.model.vo.CompanyInfoVo">
   		select comName from companyInfo
   	</select>
</mapper>