<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.fn.model.mapper.CompanyInfoMapper">
    <select id="selectAll" resultType="com.bit.fn.model.vo.CompanyInfoVo">
    	 SELECT * from companyInfo
   	</select>
   	
   	<insert id="addNewCompany" parameterType="map">
   		insert into companyInfo (comCode, officeNum, comName, ceo, manager, comPhone, contractDate, rentStartDate, rentFinishDate)
   		values (#{comCode}, #{officeNum}, #{comName}, #{ceo}, #{manager}, #{comPhone}, #{contractDateInput}, #{moveInDateInput}, #{moveOutDateInput})
   	</insert>
   	
   	<select id="selectAllCompany" resultType="com.bit.fn.model.vo.CompanyInfoVo">
   		select comName from companyInfo
   	</select>
   	
   	<!-- 마스터계정 관리에서 수정 -->
   	<update id="updateCompanyInfo">
   		update companyInfo set ceo=#{ceoValue}, manager=#{managerValue}, comPhone=#{comPhoneValue}
		where comCode=#{comCode} and comName=#{comName}
   	</update>
   	
   	<!-- 마스터계정 수정 시, 회사전화번호 중복 체크 -->
   	<select id="selectComPhone" resultType="com.bit.fn.model.vo.CompanyInfoVo">
   		select comPhone from companyInfo
		where comPhone=#{comPhone}
		and not comCode=#{comCode}
   	</select>
</mapper>