<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.fn.model.mapper.MasterAccountMapper">
    <select id="selectAll" resultType="com.bit.fn.model.vo.MasterAccountVo">
    	 SELECT * from masterAccount
   	</select>
   	
   	<select id="selectOne" resultType="com.bit.fn.model.vo.MasterAccountVo">
    	 select * from masterAccount where id=#{value} and deleted=0
   	</select>
   	
	<select id="idCount" resultType="int">
		select count(id) from masterAccount where id=#{value} and deleted=0
   	</select>
   	
   	<insert id="insertOne" parameterType="map">
   		Insert into masterAccount (id,comCode,signdate,profile,deleted) values(#{id},#{comCode},now(),0,0)
   	</insert>
   	
   	<delete id="deleteOne">
   		delete from masterAccount where id=#{value}
   	</delete>
</mapper>