<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.fn.model.mapper.MemberAccountMapper">
    <select id="selectAll" resultType="com.bit.fn.model.vo.MemberAccountVo">
    	 SELECT * from memberaccount
   	</select>
   	<select id="selectOne" resultType="com.bit.fn.model.vo.MemberAccountVo">
    	 SELECT 
    	 	* 
    	 from 
    	 	memberaccount
    	 where
    	 memId=#{value}
   	</select>
</mapper>