<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.fn.model.mapper.MemberMapper">

    <select id="memberBoardList" resultType="com.bit.fn.model.vo.BoardVo">
		select bbs.num, bbs.title, bbs.date, mem.memName, com.comName
		from board bbs left outer join memberInfo mem on bbs.writer=mem.memNum
		left outer join companyInfo com on mem.comCode=com.comCode
		order by date desc, num
		limit 7
   	</select>
   	
   	<select id="memberBoardPaginationList" resultType="com.bit.fn.model.vo.BoardVo">
		select bbs.num, bbs.title, bbs.date, mem.memName, com.comName
		from board bbs left outer join memberInfo mem on bbs.writer=mem.memNum
		left outer join companyInfo com on mem.comCode=com.comCode
		order by date desc, num desc
		limit #{firstRecordIndex}, 7
   	</select>
   	
   	<select id="countBoardList" resultType="int">
   		select count(*) from board
   	</select>
   	
   	<select id="countMyBoardList" resultType="int">
   		select count(*) from board bbs left outer join memberInfo mem on bbs.writer=mem.memNum
   		where mem.id = #{id}
   	</select>
   	
   	<select id="selectOneContent" resultType="com.bit.fn.model.vo.BoardVo">
   		select bbs.num, bbs.title, bbs.date, bbs.content, mem.memName, com.comName
		from board bbs left outer join memberInfo mem on bbs.writer=mem.memNum
		left outer join companyInfo com on mem.comCode=com.comCode
		where bbs.num = #{selectNum}
   	</select>
   	
   	<select id="countNoticeList" resultType="int">
   		select count(*) from notice
   	</select>
   	
	<select id="noticeList" resultType="com.bit.fn.model.vo.NoticeVo">
		select noti.num, noti.title, noti.content, noti.count, noti.date, adm.nickName
		from notice noti left outer join adminAccount adm
		on noti.adminNum=adm.adminNum
		order by noti.date desc
		limit #{firstRecordIndex}, 10
   	</select>
   	
   	<select id="selectNoticeList" resultType="com.bit.fn.model.vo.NoticeVo">
   		select noti.num, noti.title, noti.content, noti.count, noti.date, adm.nickName
   		from notice noti left outer join adminAccount adm
   		on noti.adminNum=adm.adminNum
   		where showCheck = 1
   		limit 3
   	</select>
   	
   	<select id="selectOneNotice" resultType="com.bit.fn.model.vo.NoticeVo">
   		select noti.num, noti.title, noti.content, noti.count, noti.date, adm.nickName
   		from notice noti left outer join adminAccount adm
   		on noti.adminNum=adm.adminNum
   		where noti.num = #{selectNum}
   	</select>
   	
   	<!-- 여기서 브랜치 코드 컨트롤러에서 전달받아야 함 -->
   	<select id="meetingRoomList" resultType="com.bit.fn.model.vo.ReservationVo">
		select roomNum from meetingRoom where branchCode = 1
   	</select>
   	
   	<select id="checkReservaion" resultType="int">
   		select count(roomNum) as countREZ from reservation
   		where roomNum = #{roomNum} and
   		reservationDay = '${reservationDay}' and
   		useStartTime = '${reservationDay} ${useStartTime}:00:00'
   	</select>
   	
   	<select id="reservationList" resultType="com.bit.fn.model.vo.ReservationVo">
   		select REZ.roomNum, REZ.memNum, REZ.reservationDay, REZ.useStartTime, REZ.useFinishTime
   		from reservation REZ left outer join meetingRoom room on REZ.roomNum = room.roomNum
   		where room.branchCode = ${branchCode} and reservationDay = '${reservationDay}'
   	</select>
   	
   	<select id="myReservationList" resultType="com.bit.fn.model.vo.ReservationVo">
   		select roomNum, memNum, reservationDay, useStartTime, useFinishTime from reservation
   		where memNum = #{memNum} and
   		reservationDay >= date_format(sysdate(), '%Y-%m-%d')
   	</select>
   	
   	<insert id="roomReservationTemp" parameterType="com.bit.fn.model.vo.ReservationVo">
   		insert into reservationHistory(
   			roomNum, memNum, reservationDay, useStartTime, useFinishTime, userCount, applyDate
   		) values(
   			#{roomNum}, #{memNum}, '${reservationDay}', '${reservationDay} ${useStartTime}:00:00',
   			'${reservationDay} ${useFinishTime}:00:00', #{userCount}, sysdate()
   		)
   	</insert>
   	
   	<select id="meetingRoomRent" resultType="int">
   		select rent from meetingRoom where roomNum = #{roomNum}
   	</select>
   	
   	<insert id="fixReservation" parameterType="com.bit.fn.model.vo.ReservationVo">
   		insert into reservation(
   			roomNum, memNum, reservationDay, useStartTime, useFinishTime, userCount, fee, merchant_uid, etc
   		) values(
   			#{roomNum}, #{memNum}, '${reservationDay}', '${reservationDay} ${useStartTime}:00:00',
   			'${reservationDay} ${useFinishTime}:00:00', #{userCount}, #{amount}, #{merchant_uid},'payment test'
   		)
   	</insert>
   	
   	<delete id="cancleReservation">
   		delete from reservation
   		where roomNum = #{roomNum} and
   		reservationDay = '${reservationDay}' and
   		useStartTime = '${reservationDay} ${useStartTime}:00:00'
   	</delete>
   	
   	<select id="selectId" resultType="com.bit.fn.model.vo.MemberInfoVo" parameterType="map">
   		select id from memberInfo where memName=#{name} and memPhone=#{phone}
   	</select>
   	
   	<!-- 관리자페이지(신청서 관리) -->
   	<select id="pending" resultType="com.bit.fn.model.vo.MemberInfoVo">
   		select signdate, comName, memName, id, dept, memPhone, memNickName, admission from memberInfo a 
   		right outer join companyInfo b on a.comCode=b.comCode where admission=0 order by signdate
   	</select>
   	
   	<select id="approved" resultType="com.bit.fn.model.vo.MemberInfoVo">
   		select signdate, comName, memName, id, dept, memPhone, memNickName, admission from memberInfo a 
   		right outer join companyInfo b on a.comCode=b.comCode where admission=1 order by signdate
   	</select>
   	
   	<!-- 마이페이지(내가 작성한글) -->
   	<select id="memberOneBoardPaginationList" resultType="com.bit.fn.model.vo.BoardVo">
		select myList.* from(
			select bbs.num, bbs.title, bbs.date from board bbs
			left outer join memberInfo mem on bbs.writer=mem.memNum
			where mem.id = #{id}
			order by date desc, num desc
		) as myList
		limit #{pagination.firstRecordIndex}, 10
   	</select>
</mapper>