<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.fn.model.mapper.MemberMapper">
    <select id="memberBoardList" resultType="com.bit.fn.model.vo.BoardVo">
		select bbs.num, bbs.title, bbs.date, mem.memName, com.comName
		from board bbs left outer join memberInfo mem on bbs.writer=mem.memNum
		left outer join companyInfo com on mem.comCode=com.comCode
		order by date desc, num
   	</select>
   	
	<select id="noticeList" resultType="com.bit.fn.model.vo.NoticeVo">
		select noti.num, noti.title, noti.content, noti.count, noti.date, adm.nickName
		from notice noti left outer join adminAccount adm
		on noti.adminNum=adm.adminNum
		order by num desc
   	</select>
   	
   	<select id="mettingRoomList" resultType="com.bit.fn.model.vo.ReservationVo">
		select roomNum from mettingRoom where branchCode = 1
   	</select>
   	
   	<select id="checkReservaion" resultType="int">
   		select count(roomNum) as countREZ from reservation
   		where roomNum = #{roomNum} and
   		reservationDay = '2021-04-26' and
   		useStartTime = '2021-04-24 ${useStartTime}:00:00'
   	</select>
   	
   	<insert id="roomReservationApply" parameterType="com.bit.fn.model.vo.ReservationVo">
   		insert into reservation(
   			roomNum, memNum, reservationDay, useStartTime, useFinishTime, userCount, etc
   		)
   		values(
   			#{roomNum}, 1, '2021-04-26', '2021-04-26 ${useStartTime}:00:00',
   			'2021-04-26 ${useStartTime}:59:00', #{userCount}, 'mapper test'
   		)
   	</insert>
</mapper>