<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.fn.model.mapper.MemberInfoMapper">
    <select id="selectAll" resultType="com.bit.fn.model.vo.MemberInfoVo">
    	 SELECT * from memberInfo
   	</select>
   	<select id="selectOne" resultType="com.bit.fn.model.vo.MemberInfoVo">
    	 SELECT 
    	 	* 
    	 from 
    	 	memberInfo
    	 where
    	 id=#{value}
   	</select>
   	<insert id="insertOne" parameterType="map">
   		Insert into memberInfo (memName,memNickName,id,comCode,dept,memPhone,signdate,admission) values(#{memName},#{memNickName},#{id},#{comCode},#{dept},#{memPhone},now(),0)
   	</insert>
   	<select id="idCount" resultType="int">
    	 SELECT 
    	 	count(id)
    	 from 
    	 	memberInfo
    	 where
    	 id=#{value}
   	</select>
   	 	<select id="nicknameCount" resultType="int">
    	 SELECT 
    	 	count(memNickName)
    	 from 
    	 	memberInfo
    	 where
    	 memNickName=#{value}
   	</select>
   	<delete id="deleteOne">
   		DELETE
   		FROM
   			memberInfo
   		WHERE
   			id=#{value}
   	</delete>
   	
   	<select id="selectId" resultType="com.bit.fn.model.vo.MemberInfoVo" parameterType="map">
   		select id from memberInfo where memName=#{name} and memPhone=#{phone}
   	</select>
   	
   	<!-- (임시 쿼리 - 구현할 때 변경)
   		 비밀번호 찾기 요청 시, 해당 member의 정보가 memberInfo에 있는지 확인 -->
   	<select id="checkInfo" resultType="com.bit.fn.model.vo.MemberInfoVo" parameterType="map">
   		select * from memberInfo where memName=#{name} and id=#{id} and memPhone=#{phone}
   	</select>

	<!-- 관리자페이지(신청서 관리) -->
   	<select id="pending" resultType="com.bit.fn.model.vo.MemberInfoVo">
   		select signdate, comName, memName, id, dept, memPhone, memNickName, admission from memberInfo a 
   		right outer join companyInfo b on a.comCode=b.comCode where admission=0 order by signdate
   	</select>
   	<select id="approved" resultType="com.bit.fn.model.vo.MemberInfoVo">
   		select signdate, comName, memName, id, dept, memPhone, memNickName, admission from memberInfo a 
   		right outer join companyInfo b on a.comCode=b.comCode where admission=1 order by signdate
   	</select>
   	<!-- 회사코드를 통한 멤버리스트 불러오기(마스터 계정 마이페이지 멤버관리)-->
   	 	<select id="comMemberList" resultType="com.bit.fn.model.vo.MemberInfoVo">
    	 SELECT 
    	 	memNum, memName, id, memNickName, comCode, dept, memPhone, signdate, admission 
    	 from 
    	 	memberInfo 
    	 where 
    	 	comCode=#{comCode}
   	</select>
   	
   	<!-- 게시글 작성에 필요한 회사 이름 추출 -->
   	<select id="searchCompanyName" resultType="String">
   		select com.comName from companyInfo com
   		left outer join memberInfo mem
   		on com.comCode = mem.comCode
   		where mem.memNum = #{memNum} 
   	</select>
   	
   	<!-- 예약 리마인드 메일 발송에 필요한 유저 정보 조회 -->
   	<select id="searchUserByMemNum" resultType="com.bit.fn.model.vo.MemberInfoVo">
   		select memName, id from memberInfo where memNum = #{memNum}
   	</select>
</mapper>