<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.fn.model.mapper.MemberInfoMapper">
    <select id="selectAll" resultType="com.bit.fn.model.vo.MemberInfoVo">
    	 SELECT * from memberinfo
   	</select>
   	<select id="selectOne" resultType="com.bit.fn.model.vo.MemberInfoVo">
    	  SELECT 
    	 	* 
    	 from 
    	 	memberinfo
    	 where
    	 id=#{value}
   	</select>
   	
   	<select id="selectId" resultType="com.bit.fn.model.vo.MemberInfoVo" parameterType="map">
   		select id from memberInfo where memName=#{name} and memPhone=#{phone}
   	</select>
   	
   	<!-- (임시 쿼리 - 구현할 때 변경)
   		 비밀번호 찾기 요청 시, 해당 member의 정보가 memberInfo에 있는지 확인 -->
   	<select id="checkInfo" resultType="com.bit.fn.model.vo.MemberInfoVo" parameterType="map">
   		select * from memberInfo where memName=#{name} and id=#{id} and memPhone=#{phone}
   	</select>

	<!-- 관리자페이지(신청서 관리) -->
   	<select id="pending" resultType="com.bit.fn.model.vo.MemberInfoVo">
   		select signdate, comName, memName, id, dept, memPhone, memNickName, admission from memberInfo a 
   		right outer join companyInfo b on a.comCode=b.comCode where admission=0 order by signdate
   	</select>
   	<select id="approved" resultType="com.bit.fn.model.vo.MemberInfoVo">
   		select signdate, comName, memName, id, dept, memPhone, memNickName, admission from memberInfo a 
   		right outer join companyInfo b on a.comCode=b.comCode where admission=1 order by signdate
   	</select>
</mapper>