<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.fn.model.mapper.OfficeFacilitiesMapper">
    <select id="selectAll" resultType="com.bit.fn.model.vo.OfficeFacilitiesVo">
    	 SELECT * from officeFacilities
   	</select>

    <select id="officeFacilities" resultType="com.bit.fn.model.vo.OfficeFacilitiesVo">
    	 select officeName, desk, chair, modem, fireExtinguisher, lan, airConditioner, 
    	 radiator, descendingLifeLine, powerSocket 
    	 from officeFacilities a 
    	 left outer join office b on a.officeNum=b.officeNum where officeName=#{officeName} and floor=#{floorInput}
   	</select>
   	
   	<!-- 공간 시설 수정 -->
   	<update id="updateSpaceInfo">
   		update officeFacilities
		set desk=#{deskInput}, chair=#{chairInput}, modem=#{modemInput},
		fireExtinguisher=#{fireExtinguisherInput}, airConditioner=#{airConditionerInput},
		radiator=#{radiatorInput}, descendingLifeLine=#{descendingLifeLineInput},
		powerSocket=#{powerSocketInput}
		where officeNum=#{officeNum}
   	</update>
   	
   	<!-- 공간 시설 삭제 -->
   	<delete id="deleteSpace">
   		delete from officeFacilities
		where officeNum=#{officeNum}
   	</delete>
</mapper>