<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.fn.model.mapper.OfficeMapper">
    <select id="selectAll" resultType="com.bit.fn.model.vo.OfficeVo">
    	 SELECT * from office
   	</select>
   	
   	<select id="selectAllFloors" resultType="com.bit.fn.model.vo.OfficeVo">
   		select floor from office group by floor
   	</select>
   	
    <select id="selectPriceInfo" resultType="com.bit.fn.model.vo.OfficeVo">
    	 select officeName, floor, acreages, rent, max, photo, occupancy from office order by floor
   	</select>
    
    <select id="spaceInfo" resultType="com.bit.fn.model.vo.OfficeVo">
    	 select branchName, floor, officeName, acreages, rent, occupancy, comName, max from office a 
    	 left outer join companyInfo b on a.officeNum=b.officeNum 
    	 left outer join branch c on a.branchCode=c.branchCode order by officeName
   	</select>
   	
   	<select id="officeDetail" resultType="com.bit.fn.model.vo.OfficeVo">
   		select branchName, floor, officeName, acreages, rent, occupancy, max, comName 
   		from office a 
   		left outer join branch b on a.branchCode=b.branchCode 
   		left outer join companyInfo c on a.officeNum=c.officeNum where a.officeName=#{officeName} and a.floor=#{floorInput}
   	</select>
   	
   	<!-- 공간 추가 -->
   	<insert id="addSpaceInfo" parameterType="map">
   		insert into office (branchCode, floor, acreages, rent, officeName, max, occupancy) 
   		values (#{branchCode}, #{floorInput}, #{acreagesInput}, #{rentInput}, #{officeNameInput}, #{maxInput}, #{occupancy})
   	</insert>
   	
   	<select id="selectOfficeNum" resultType="int">
   		select officeNum from office where officeName=#{officeName} and floor=#{floorInput}
   	</select>
   	
   	<!-- 공간 수정 -->
   	<update id="updateOffice">
   		update office
		set acreages=#{acreagesInput}, rent=#{rentInput}, max=#{maxInput}
		where officeNum=#{officeNum}
   	</update>
   	
   	<!-- 공간 삭제 -->
   	<delete id="deleteSpace">
   		delete from office
		where officeNum=#{officeNum}
   	</delete>
</mapper>