<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.fn.model.mapper.join.BranchAndAdminMapper">
    <resultMap type="com.bit.fn.model.vo.BranchVo" id="BranchMap">
    	<id property="branchCode" column="branchCode"/>
    	<id property="branchName" column="branchName"/>
    </resultMap>
    
    <resultMap type="com.bit.fn.model.vo.AdminAccountVo" id="AdminAccountMap">
    	<id property="id" column="id"/>
    	<id property="branchCode" column="branchCode"/>
    	<id property="password" column="password"/>
    	<id property="nickName" column="nickName"/>
    	<id property="profile" column="profile"/>
    </resultMap>
    
    <resultMap type="com.bit.fn.model.vo.join.BranchAndAdminVo" id="BranchAndAdminMap">
    	<collection property="adminAccount" resultMap="AdminAccountMap"/>
    	<collection property="branch" resultMap="BranchMap"/>
    </resultMap>
    
    <select id="selectAll" resultType="BranchAndAdminVo">
    	 SELECT 
    	 	*
    	 from 
    	 	adminAccount a
    	 inner join
    	 	branch b on a.branchCode=b.branchCode;
   	</select>
</mapper>

