<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.fn.model.mapper.join.MasteraccountAndCompanyInfoMapper">
    <resultMap type="com.bit.fn.model.vo.MasterAccountVo" id="MasterAccountMap">
    	<id property="masterNum" column="masterNum"/>
    	<result property="id" column="id"/>
    	<result property="comCode" column="comCode"/>
    	<result property="signdate" column="signdate"/>
    	<result property="profile" column="profile"/>
    </resultMap>
    
    <resultMap type="com.bit.fn.model.vo.CompanyInfoVo" id="CompanyInfoMap">
    	<id property="comCode" column="comCode"/>
    	<result property="officeNum" column="officeNum"/>
    	<result property="comName" column="comName"/>
    	<result property="ceo" column="ceo"/>
    	<result property="manager" column="manager"/>
    	<result property="comPhone" column="comPhone"/>
    	<result property="contractDate" column="contractDate"/>
    	<result property="rentStartDate" column="rentStartDate"/>
    	<result property="rentFinishDate" column="rentFinishDate"/>
    	<result property="point" column="point"/>
    </resultMap>
    
    <resultMap type="com.bit.fn.model.vo.join.MasteraccountAndCompanyInfoVo" id="MasteraccountAndCompanyInfoMap">
    	<collection property="masterAccount" resultMap="MasterAccountMap"/>
    	<collection property="companyInfo" resultMap="CompanyInfoMap"/>
    </resultMap>
    
    <select id="masterOne" resultMap="MasteraccountAndCompanyInfoMap">
    	 select
    	 a.masterNum, a.id, a.comCode, a.signdate, a.profile, b.comName, b.ceo, b.manager, b.comPhone, b.contractDate, b.rentStartDate, b.rentFinishDate,b.point 
    	 from	
    	 (SELECT
    	 	 masterNum, id, comCode, signdate, profile 
    	 from
    	 	masterAccount 
    	 where id=#{id}
    	 ) a
    	 inner join
    	 	companyInfo b on a.comCode=b.comCode
   	</select>
   	<update id="updateInfo">
   			UPDATE 
   				companyInfo b inner join masterAccount a 
				on a.comCode=b.comCode 
			SET 
				b.comName=#{comName}, b.ceo=#{ceo}, b.manager=#{manager}, b.comPhone=#{comPhone}  
			WHERE
				a.id=#{id}
   	</update>
   	
   	<select id="selectAllMasterAccounts" resultMap="MasteraccountAndCompanyInfoMap">
   		select a.comCode, comName, ceo, manager, comPhone, id, signdate from masterAccount a
		inner join companyInfo b on a.comCode=b.comCode
   	</select>
</mapper>