<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.fn.model.mapper.join.MemberInfoAndCompanyInfoMapper">
    <resultMap type="com.bit.fn.model.vo.MemberInfoVo" id="MemberInfoMap">
    	<id property="memNum" column="memNum"/>
    	<result property="memName" column="memName"/>
    	<result property="memNickName" column="memNickName"/>
    	<result property="id" column="id"/>
    	<result property="comCode" column="comCode"/>
    	<result property="dept" column="dept"/>
    	<result property="memPhone" column="memPhone"/>
    	<result property="signdate" column="signdate"/>
    	<result property="admission" column="admission"/>
    </resultMap>
    
    <resultMap type="com.bit.fn.model.vo.CompanyInfoVo" id="CompanyInfoMap">
    	<id property="comCode" column="comCode"/>
    	<result property="officeNum" column="officeNum"/>
    	<result property="comName" column="comName"/>
    	<result property="ceo" column="ceo"/>
    	<result property="manager" column="manager"/>
    	<result property="comPhone" column="comPhone"/>
    	<result property="contractDate" column="contractDate"/>
    	<result property="rentStartDate" column="rentStartDate"/>
    	<result property="rentFinishDate" column="rentFinishDate"/>
    	<result property="point" column="point"/>
    </resultMap>
    
    <resultMap type="com.bit.fn.model.vo.join.MemberInfoAndCompanyInfoVo" id="MemberInfoAndCompanyInfoMap">
    	<collection property="memberInfo" resultMap="MemberInfoMap"/>
    	<collection property="companyInfo" resultMap="CompanyInfoMap"/>
    </resultMap>
    
    <select id="memberOne" resultMap="MemberInfoAndCompanyInfoMap">
    	 select
    	 a.memNum, a.memName, a.memNickName, a.id, a.comCode, a.dept, a.memPhone, a.signdate, b.comName	
    	 from	
    	 (SELECT
    	 	*
    	 from
    	 	memberInfo 
    	 where id=#{id}
    	 ) a
    	 inner join
    	 	companyInfo b on a.comCode=b.comCode
    	 
    	 
   	</select>
   	
</mapper>

